<section id="welcome-index-wedding-plan-leader" class="jumbotron text-center">
  <div class="container">
    <h1>The Plan</h1>
  </div>
</section>
<section id="welcome-index-wedding-plan">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>When to Arrive</h2>
        <p>Whether you are staying at the venue or staying nearby, plan to be in town the night before the wedding. For those staying with us, the earliest we can be there is at 11 am on Friday the 23rd.</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>Order of the Day</h2>
        <p><strong>2:30pm</strong> &mdash; Guests arrive</p>
        <p><strong>3pm-4pm</strong> &mdash; Cocktail hour</p>
        <p><strong>4pm</strong> &mdash; Private vows (no ceremony)</p>
        <p><strong>4:15pm</strong> &mdash; Entrance as married couple</p>
        <p><strong>5pm</strong> &mdash; Dinner!</p>
        <p><strong>7pm</strong> &mdash; After dinner Coffee</p>
        <p><strong>7-9pm</strong> &mdash; hang out</p>
        <p><strong>9pm</strong> &mdash; guests not staying at venue depart</p>
        <%= image_tag "dylan.png" %>
        <h2>Dress code</h2>
        <p><strong>Cocktail Formal</strong></p>
        <p>Dress in your best, but be prepared to spend some time outside, including dinner with the sun setting over the Hudson River.</p>
        <p>We recommend bringing warm shawls and jackets, as May is still a cooler month in the Hudson Valley.</p>
        <h2>Gifts &amp; Cards</h2>
        <p>We'd be pleased if you made a donation to charity rather than bringing a gift. Our goal is to raise $5,000 for <%= link_to 'Palestinian Children\'s relief fund', @pcrf_url %>, who are working to get specialized medical and surgical care for palestinian children injured in the war on Gaza.</p>
        <p class="text-center"><%= link_to 'Donate to PCRF', @pcrf_url, class: 'btn btn-primary wedding-cta-btn' %></p>
        <p>If you'd like to send us a card, we'll send you our mailing address by email once you RSVP.</p>
        <h2>Menu</h2>
        <p>Dinner will be family style&mdash;no need to pick options, there will be something for everyone!</p>
        <h2>RSVPs and Plus-Ones</h2>
        <p>If you are staying with us at the venue, we only have room for the plus-ones we have explicitly invited. If this is the case, please have them RSVP separately. If you or your invited plus-one can't make it, please let us know as soon as possible.</p>
      </div>
    </div>
  </div>
</section>
