<section id="welcome-index-venue-leader" class="jumbotron text-center">
  <div class="container">
    <h1>The Venue</h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>How do I get there?</h2>
        <p>For those flying in, either fly into NYC or Albany, and take a convenient train ride on the Amtrak to the Hudson, NY station. Let us know when you think you'll arrive, and someone will shuttle you to the Venue.</p>
      </div>
    </div>
  </div>
</section>
